body{
	font-family: 'Aleo', serif;
	width: 1770px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
.hero{
	background: url("../images/hero-bg.jpg");
	height: 820px;

}
.hero-title{
	text-align: center;
	margin-top: 265px;
}
.hero-title h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
}
.hero-title h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.031em;
	color: #ffffff;
	margin-bottom: 55px;
}
.search{
	text-align: center;
	width: 655px;
	margin: 0 auto;
	border: 2px solid #ffffff;
	margin-bottom: 120px;
}
.search input{
	border: 2px solid #ffffff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.02em;
	text-align: center;
	width: 500px;
	height: 60px;
}
.search button{
	width: 150px;
	height: 60px;
	background: #5474fd;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.01em;
	margin-left: -3px;
	border: none;
	vertical-align: middle;
}
.search button:hover{
	background: #1b0e94;
}
.search-logo {
	vertical-align: middle;
}
.scroll{
	margin: 0 auto;
	text-align: center;
	width: 130px;
	height: 40px;

}
.scroll a{
	text-decoration: none;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: white;
}
.scroll h2{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}
.arrow{
	background: url("../images/scroll-arrow.svg") center center no-repeat;
	width: 30px;
	height: 10px;
	margin: 0 auto;

}
.header{
	padding: 30px 330px 30px 330px;
	display: flex;
	height: 80px;
	background: #5474fd;
}
.logo{
	display: block;
	vertical-align: middle;
	width: 540px;
}
.logo a{
    font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.01em;
	line-height: 26px;
	color: white;
	text-decoration: none;
}
.menu{
	float: right;
}
.menu ul{
	list-style: none;
	display: inline;
	padding: 0;
}
.menu li {
    display: inline;
	margin-left: 40px;
}

.menu a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	line-height: 26px;
}
.choose-us{
	background: url("../images/choose-us-bg.jpg");
	height: 685px;
	padding: 115px 330px 115px 330px;

}
.choose-info h2{
	font-size: 36px;
	line-height: 26px;
	color: white;
	margin-bottom: 65px;
}
.choose-info p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.01em;
	color: #e8e8e8;
	margin-bottom: 20px;
}

.choose-info a{
	display: block;
	width: 225px;
	height: 60px;
	background: #496bfe;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 16px;
	line-height: 60px;
	letter-spacing: 0.0075em;
	text-decoration: none;
	text-align: center;
	margin-top: 50px;
}
.choose-info a:hover{
	background: #1b0e94;
}
.choose-image-1{
	background: url("../images/choose-image-1.jpg");
	width: 350px;
	height: 220px;
	margin-left: 65px;
	margin-bottom: 5px;
}
.choose-image-2{
	background: url("../images/choose-image-2.jpg");
	width: 350px;
	height: 220px;
	float: right;
}
.how-it-works{
	height: 340px;
	background: #333333;
	text-align: center;
	padding: 70px 330px 115px 330px;
	display: block;
}
.how-it-works .ba-width-1-3{
	text-align: center;
}
.how-it-works a{
	text-decoration: none;
	font-size: 36px;
	line-height: 26px;
	color: white;
	font-weight: 400;

}
.works-column{
	width: 240px;
	height: 140px;
	text-align: center;
	margin-top: 35px;
}

.search-place-logo{
	background: url("../images/search.png") center center no-repeat;
	width: 58px;
	height: 57px;
	margin: 0 auto;
}
.select{
	background:url("../images/select.png") center center no-repeat;
	width: 60px;
	height: 61px;
	margin: 0 auto;
}
.like{
	background: url("../images/like.png") center center no-repeat;
	width: 62px;
	height: 59px;
	margin: 0 auto;
}
.hotels{
	height: 1400px;
}
.grand-up{
	background:url("../images/grand-up-bg.jpg") center center no-repeat;
	width: 1750px;
	height: 700px;
	position: relative;
}
.book-up{
	width: 540px;
	height: 370px;
	background: url("../images/book-up-bg.jpg") center center no-repeat;
	opacity: 0.8;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: white;
	padding-left: 30px;
	padding-top: 50px;
	position: absolute;
	top: 230px;
	left: 330px;
}
.book-up h4{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.0075em;
	color: white;

}
.book-up h3{
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	color: white;
}
.grand-bottom{
	background: url("../images/grand-bottom-bg.jpg") center center no-repeat;
	width: 1750px;
	height: 700px;
	margin-top: -20px;
	position: relative;
}
.book-bottom{
	width: 540px;
	height: 370px;
	background: url("../images/book-bottom-bg.jpg");
	opacity: 0.8;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: white;
	padding-left: 30px;
	padding-top: 50px;
	position: absolute;
	top: 230px;
	right: 330px;
}
.book-bottom h4{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.0075em;
	color: white;
}
.book-bottom h3{
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	color: white;
}
.book-now{
	display: block;
	width: 225px;
	height: 60px;
	background:#5474fd;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	line-height: 60px;
}
.book-now:hover{
	background: #1b0e94;
}
.testimonial{
	background: url("../images/testimonial-bg.jpg");
	width: 1750px;
	height: 731px;
	padding: 115px 330px 200px 330px;
}
.testimonial h2{
	text-align: center;
	font-size: 36px;
	line-height: 26px;
	color: white;
	margin-bottom: 100px;
}
.sam-sumon{
	display: inline-block;
	width: 1115px;
	height: 289px;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
}
.sam-img{
	background:url("../images/sam-img.jpg");
	width: 445px;
	height: 284px;
	margin: 0;
	float: left;
}
.sam-text{
	display: block;
	width: 670px;
	height: 285px;
	float: right;
	color: #d5d5d5;
	padding: 45px 50px 50px 50px;
	background: #333333;
}
.sam-text h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 26px;
}
.sam-text p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.sam-text i{
	vertical-align: super;
	line-height: 30px;
	color: #5474fd;
}
.footer{
	width: 1750px;
	height: 295px;
	background: #232323;
	padding: 120px 330px 50px 330px;
}
.footer-titles{
	margin: 0;
	text-align: center;
}
.footer-titles h3{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer-titles h4{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.01em;
	line-height: 26px;
	color: #ffffff;
	margin: 0px;
}
.links{
text-align: center;
}
.links a{
	text-decoration: none;
	color: white;
}
.fab{
	margin-right: 20px;
}
.fa-linkedin-in{
	color: #5474fd;
}

.fa-pinterest{
	margin-right: 0;
}